* {
    border: 0px;
    padding: 0px;
    margin: 0px;
    user-select: none;
}

div.wa-audio-node option,
div.wa-audio-node select,
html {
    font-family: monospace;
    font-size: var(--global-font-size)
}

:root {
    --node-bg-color: rgb(205, 205, 205);
    --global-font-size: 11px;
    --toolbar-background-color : rgba(200,200,200,0.95);
}

div.wa-audio-node option,
div.wa-audio-node select,
div.wa-audio-node {
    background-color: var(--node-bg-color);
}

div.wa-audio-node:hover {
    background-color: rgb(205, 205, 250);
}

div.wa-audio-node.wa-audio-node-selected {
    background-color: rgb(185, 185, 250);
}

div.wa-audio-node {
    border: 1px solid black;
    position: absolute;
    /* width: 100px; */
}

div.wa-audio-node h1 {
    font-size: 12px;
    text-align: center;
}

div.wa-audio-input,
div.wa-audio-param {
    color: black;
}

div.wa-audio-param input {
    background-color: var(--node-bg-color);
    font-size: var(--global-font-size);
    border: none;
    width: 40px;
}

div.wa-audio-output p {
    text-align: right;
}

canvas.link {
    position: absolute;
    pointer-events: none;
    z-index: 999;
}

div.create-toolbar {
    z-index: 999;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: var(--toolbar-background-color);
    width: 100%;
}
div.file-toolbar {
    z-index: 999;
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: var(--toolbar-background-color);
    width: 100%;
}



/*div.create-toolbar*/ button {
    border: solid 1px black;
    padding: 0.2em;
    margin: 0.2em;
}